# Personal files and datasets
trec
agend
data/
most_common_ham.txt
most_common_spam.txt
ham_word_count.txt
spam_word_count.txt
filtered_data.csv
labeled_data.csv

# IDE or environment related files
venv
.ipynb_checkpoints
.idea
*.iml
